<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/popup.css" />
    <title>Overview</title>
  </head>
  <body id="overview" class="page">
    <div class="head">
      <h1>Github:Gist</h1>
      <button type="button" id="new-gist">New gist</button>
    </div>
    <div id="gists-container">
      <div id="filters-container">
        <input type="search" id="search" placeholder="Find a gist..." />
        <ul id="filters">
          <li class="current"><a href="#" rel="">All Gists</a></li>
          <li><a href="#" rel=".public">Public</a></li>
          <li><a href="#" rel=".private">Private</a></li>
          <li><a href="#" rel=".starred">Starred</a></li>
        </ul>
      </div>
      <ul id="gists"></ul>
      <div id="loading">Loading...</div>
      <script id="tmpl" type="text/template">
        <li class="<%= public ? 'public' : 'private' %>" id="gist-<%= id %>" rel="<%= html_url %>">
          <span class="info">
            <span class="id">gist:<%= id %></span>
            <span class="descr" title="<%= description %>"><%= description %></span>
          </span>
          <span class="arrow"></span>
        </li>
      </script>
    </div>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/underscore.js"></script>
    <script src="scripts/gister.js"></script>
    <script src="scripts/overview.js"></script>
  </body>
</html>
